@import "variables";

@media screen and (min-width: 768px){
  .pc{
    display: block !important;
  }

  .sp{
    display: none !important;
  }
}

@media screen and (max-width: 959px){
  .skill .skill-group{
    flex-wrap: wrap;
    .skill-item{
      width: 30%;
    }
  }
}

@media screen and (max-width: 767px){
  .pc{
    display: none !important;
  }

  .sp{
    display: block !important;
  }

  header{
    position: fixed;
    background-color: $black;
    color: $white;
  }

  header nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    ul{
      display: block;
      text-align: center;
      line-height: 50px;
      color: $white;
      li{
        margin: 0;
        background-color: rgba($gray, 0.8);
        color: $black;
        &:not(:first-child){
          border-top: solid 2px $black;
        }
        a{
          display: block;
        }
      }
    }
  }

  .top{
    padding: 30vh 0;
    background-attachment: scroll;
    h2{
      font-size: 3.8rem;
    }
    p{
      margin-top: 30px;
    }
  }

  .service .service-group{
    flex-wrap: wrap;
    .service-item{
      width: 100%;
    }
  }

  .about .box{
    margin: 0;
    .flex{
      justify-content: center;
      flex-wrap: wrap;
      .img-wrap{
        width: 50%;
      }
      .text{
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  .skill .skill-group{
    .skill-item{
      width: 40%;
      h3{
        font-size: 1.5rem;
      }
    }
  }
}